@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TheBoldFont';
  src: url('/fonts/TheBoldFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
